## Loading Packages

In [1]:
import pandas as pd

## Reading Data

In [2]:
df2015 = pd.read_csv("data/2015.csv")
df2016 = pd.read_csv("data/2016.csv")
df2017 = pd.read_csv("data/2017.csv")
df2018 = pd.read_csv("data/2018.csv")
df2019 = pd.read_csv("data/2019.csv")

## Checking Data

In [3]:
df2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [4]:
df2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [5]:
df2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [6]:
df2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [7]:
df2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

## Changing Columns

### 2019

In [8]:
df2019.columns = ["rank","region","score","gdp","social","healthy","freedom","generosity","corruption"]
df2019.head()

,rank,region,score,gdp,social,healthy,freedom,generosity,corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### 2018

In [9]:
df2018.columns = ["rank","region","score","gdp","social","healthy","freedom","generosity","corruption"]
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
df2018.head()

   rank       region  score    gdp  social  healthy  freedom  generosity  corruption
0     1      Finland  7.632  1.305   1.592    0.874    0.681       0.202       0.393
1     2       Norway  7.594  1.456   1.582    0.861    0.686       0.286       0.340
2     3      Denmark  7.555  1.351   1.590    0.868    0.683       0.284       0.408
3     4      Iceland  7.495  1.343   1.644    0.914    0.677       0.353       0.138
4     5  Switzerland  7.487  1.420   1.549    0.927    0.660       0.256       0.357

### 2017

In [10]:
df2017.head()

       Country  Happiness.Rank  Happiness.Score  Whisker.high  Whisker.low  Economy..GDP.per.Capita.    Family  Health..Life.Expectancy.   Freedom  Generosity  Trust..Government.Corruption.  Dystopia.Residual
0       Norway               1            7.537      7.594445     7.479556                  1.616463  1.533524                  0.796667  0.635423    0.362012                       0.315964           2.277027
1      Denmark               2            7.522      7.581728     7.462272                  1.482383  1.551122                  0.792566  0.626007    0.355280                       0.400770           2.313707
2      Iceland               3            7.504      7.622030     7.385970                  1.480633  1.610574                  0.833552  0.627163    0.475540                       0.153527           2.322715
3  Switzerland               4            7.494      7.561772     7.426227                  1.564980  1.516912                  0.858131  0.620071    0.290549                       0.367007           2.276716
4      Finland               5            7.469      7.527542     7.410458                  1.443572  1.540247                  0.809158  0.617951    0.245483                       0.382612           2.430182

In [11]:
df2017.drop(["Whisker.high","Whisker.low","Family","Dystopia.Residual"],axis=1,inplace=True)
df2017.columns = ["region","rank","score","gdp","healthy","freedom","generosity","corruption"]
df2017.head()

        region  rank  score       gdp   healthy   freedom  generosity  corruption
0       Norway     1  7.537  1.616463  0.796667  0.635423    0.362012    0.315964
1      Denmark     2  7.522  1.482383  0.792566  0.626007    0.355280    0.400770
2      Iceland     3  7.504  1.480633  0.833552  0.627163    0.475540    0.153527
3  Switzerland     4  7.494  1.564980  0.858131  0.620071    0.290549    0.367007
4      Finland     5  7.469  1.443572  0.809158  0.617951    0.245483    0.382612

### 2016

In [12]:
df2016.drop(['Region','Lower Confidence Interval','Upper Confidence Interval',"Family",'Dystopia Residual'],axis=1,inplace=True)
df2016.columns = ["region","rank","score","gdp","healthy","freedom","corruption","generosity"]
df2016.head()

        region  rank  score      gdp  healthy  freedom  corruption  generosity
0      Denmark     1  7.526  1.44178  0.79504  0.57941     0.44453     0.36171
1  Switzerland     2  7.509  1.52733  0.86303  0.58557     0.41203     0.28083
2      Iceland     3  7.501  1.42666  0.86733  0.56624     0.14975     0.47678
3       Norway     4  7.498  1.57744  0.79579  0.59609     0.35776     0.37895
4      Finland     5  7.413  1.40598  0.81091  0.57104     0.41004     0.25492

### 2015

In [13]:
df2015.drop(["Region",'Standard Error', 'Family', 'Dystopia Residual'],axis=1,inplace=True)
df2015.columns = ["region", "rank", "score", "gdp","healthy", "freedom", "corruption","generosity"]
df2015.head()

        region  rank  score      gdp  healthy  freedom  corruption  generosity
0  Switzerland     1  7.587  1.39651  0.94143  0.66557     0.41978     0.29678
1      Iceland     2  7.561  1.30232  0.94784  0.62877     0.14145     0.43630
2      Denmark     3  7.527  1.32548  0.87464  0.64938     0.48357     0.34139
3       Norway     4  7.522  1.45900  0.88521  0.66973     0.36503     0.34699
4       Canada     5  7.427  1.32629  0.90563  0.63297     0.32957     0.45811

### Selecting The Columns To Analyze

In [14]:
coltoselect = ["rank","region","score","gdp","healthy","freedom","generosity","corruption"]
df2015 = df2015.loc[:,coltoselect].copy()
df2016 = df2016.loc[:,coltoselect].copy()
df2017 = df2017.loc[:,coltoselect].copy()
df2018 = df2018.loc[:,coltoselect].copy()
df2019 = df2019.loc[:,coltoselect].copy()

### Adding Year Column

In [15]:
df2015["year"] = 2015
df2016["year"] = 2016
df2017["year"] = 2017
df2018["year"] = 2018
df2019["year"] = 2019

In [16]:
df = df2015.append([df2016,df2017,df2018,df2019])
df.head()

C:\Users\white\AppData\Local\Temp\ipykernel_8092\726751336.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df2015.append([df2016,df2017,df2018,df2019])

   rank       region  score      gdp  healthy  freedom  generosity  corruption  year
0     1  Switzerland  7.587  1.39651  0.94143  0.66557     0.29678     0.41978  2015
1     2      Iceland  7.561  1.30232  0.94784  0.62877     0.43630     0.14145  2015
2     3      Denmark  7.527  1.32548  0.87464  0.64938     0.34139     0.48357  2015
3     4       Norway  7.522  1.45900  0.88521  0.66973     0.34699     0.36503  2015
4     5       Canada  7.427  1.32629  0.90563  0.63297     0.45811     0.32957  2015

In [17]:
df.shape

(782, 9)

In [18]:
df.dtypes

rank            int64
region         object
score         float64
gdp           float64
healthy       float64
freedom       float64
generosity    float64
corruption    float64
year            int64
dtype: object

## Checking For Nulls

In [19]:
pd.isnull(df).sum()

rank          0
region        0
score         0
gdp           0
healthy       0
freedom       0
generosity    0
corruption    1
year          0
dtype: int64

In [20]:
df[df["corruption"].isnull()]

    rank                region  score    gdp  healthy  freedom  generosity  corruption  year
19    20  United Arab Emirates  6.774  2.096     0.67    0.284       0.186         NaN  2018

In [21]:
avg_corruption = df[df["score"] > 6.774].mean().corruption
df.loc[df["corruption"].isnull(),["corruption"]] = avg_corruption
df[df["corruption"].isnull()]

C:\Users\white\AppData\Local\Temp\ipykernel_8092\4214924574.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_corruption = df[df["score"] > 6.774].mean().corruption

Empty DataFrame
Columns: [rank, region, score, gdp, healthy, freedom, generosity, corruption, year]
Index: []

## Saving Data

In [22]:
df.to_csv("data/main.csv", index=false)

NameError: name 'false' is not defined